<a href="https://colab.research.google.com/github/vn322/Cod_future/blob/main/%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D1%8F_%D0%91%D0%B0%D0%B7%D0%BE%D0%B2%D1%8B%D0%B9_%D1%81%D0%B8%D0%BD%D1%82%D0%B0%D0%BA%D1%81%D0%B8%D1%81_Python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.2 Базовый синтаксис языка Python 3.
***
**Типы данных**


Основными типами данных в любом языке программирования являются:


целые числа, вещественные числа, строки (символы), логические переменные (True (истина) или False (ложь)).


Они могут быть записаны следующим образом

In [ ]:
1, 1.0, '1', 1<2, 1>2

(1, 1.0, '1', True, False)

In [ ]:
type(1), type(1.0), type('1'), type(1<2)

(int, float, str, bool)

**Операции с числами**

In [ ]:
# комментарий: Операции с целыми числами
A=1 
B=2
print (' A + B = ',A+B) # сумма
print (' A - B = ',A-B) # разность;
print (' A * B = ',A*B) # произведение;
print (' A / B = ',A/B) # частное;
print (' A ^ B = ',A**B) # возведение в степень.

 A + B =  3
 A - B =  -1
 A * B =  2
 A / B =  0.5
 A ^ B =  1

In [ ]:
# комментарий: Операции с вещественными числами
A=1.0 
B=2.0
print (' A + B  = ',A+B)  # сумма
print (' A - B  = ',A-B)  # разность;
print (' A * B  = ',A*B)  # произведение;
print (' A / B  = ',A/B)  # частное;
print (' A % B  = ',A%B)  #  остаток от деления;
print (' A // B = ',A//B) # деление без остатка;
print (' A ^ B  = ',A**B) # возведение в степень.

 A + B  =  3.0
 A - B  =  -1.0
 A * B  =  2.0
 A / B  =  0.5
 A % B  =  1.0
 A // B =  0.0
 A ^ B  =  1.0

In [ ]:
# комментарий: ещё о целых числах, без автоматического переопределения типа было бы так
A=1
B=2
print (' A / B = ',A/B, 'возвращаемый тип - ', type(A/B)) # автоматическое переопределение;
print (' A / B = ',(int)(A/B), 'возвращаемый тип - ', type((int)(A/B))) # без автоматического переопределения;

 A / B =  0.5 возвращаемый тип -  <class 'float'>
 A / B =  0 возвращаемый тип -  <class 'int'>

**Операции над строками**

In [ ]:
Ast=' Быстрее, Выше, ' 
Bst='Сильнее! '
n=3
print (' Ast + Bst = ',Ast+Bst)  # конкатенация 
print ('(Ast + Bst) * n = ',(Ast+Bst)*n)  # повторение n раз

 Ast + Bst =   Быстрее, Выше, Сильнее!
(Ast + Bst) * n =   Быстрее, Выше, Сильнее!  Быстрее, Выше, Сильнее!  Быстрее, Выше, Сильнее!

** Логические операции**

In [ ]:
A=1.0 
B=2.0
print (' A >  B  - ',A>B)   # больше
print (' A <  B  - ',A<B)   # меньша
print (' A >= B  - ',A>=B)  # больше или равно
print (' A <= B  - ',A<=B)  # меньше или равно
print (' A == B  - ',A==B)  # равно
print (' A != B - ',A!=B)   # не равно
print (' A < B < A + B - ',A<B<A+B) # из интервала
print (' A < B и B < A + B  - ',A<B and B<A+B) # и (*)
print (' A < B или A > B  - ',A<B or A>B) # или (+)

print ('\n',bool(1), '\t', bool(0))  # \t - знак табуляции

print ('\n',"A<B , A>B, A<B*A>B, A<B + A>B",'\n',A<B , A>B, A<B * A>B,'\t',A<B + A>B)  # \n - знак перехода на строку

 A >  B  -  False
 A <  B  -  True
 A >= B  -  False
 A <= B  -  True
 A == B  -  False
 A != B -  True
 A < B < A + B -  True
 A < B и B < A + B  -  True
 A < B или A > B  -  True

 True 	 False

 A<B , A>B, A<B*A>B, A<B + A>B
 True False False 	 True

## Задания:

**Задание 1**

Какой тип данных получим если разделим два натуральных числа?

$$int(5)/int(6)$$

In [ ]:
# ваш код здесь

float

**Задание 2** 

Вычислить сколько будет если сложить две "правды" и две "лжи"
$$True + False + False 	+ True = ?$$

In [ ]:
# ваш код здесь

Две "правды" + Две "лжи" =  2

**Задание 3**

Какой вывод получим при следующем выражении:

$$(True + True) *  'Dota2'$$

In [ ]:
# ваш код здесь

'Dota2Dota2'

# 1.3 Операции ввода/вывода

****

Форматный вывод (это красиво):

% - указатель на вставку, тип: i - int, f - float, s - str, e - "научное" представление, g - "компактное" представление десятичного числа

По умолчанию производится выравнивание по правому краю, для выравневания по левому нужно писать %- вместо %.

(Кроме того, существует метод str.format() для форматного вывода строк  и можно использовать иные средства форматирования.)

In [ ]:
A=1 
B=2
print(" A / B = %6.4f, возвращаемый тип - %s " % (A/B, type(A/B)))
print(" A / B = %-6i, возвращаемый тип - %s " % ((int)(A/B), type((int)(A/B))))

 A / B = 0.5000, возвращаемый тип - <class 'float'>
 A / B = 0     , возвращаемый тип - <class 'int'>

В интерактивной сессии (или в программе, запущенной с командной строки) можно попросить пользователя что-нибудь ввести. Аргумент функции input - это приглашение для ввода (prompt). Можно использовать просто input(), тогда приглашения не будет. Но это неудобно, т.к. в этом случае трудно заметить, что программа ждёт действия пользователя.

In [ ]:
s=input('Введите число ')
print('s = ', s, type(s))
sf=float(s)
print('sf =', sf, type(sf))

Введите число 5
s =  5 <class 'str'>
sf = 5.0 <class 'float'>

Python  - интерпретатор, поэтому он может во время выполнения программы интерпретировать строки как куски исходного текста на языке питон. Так, функция eval интерпретирует строку как выражение и вычисляет его (в текущем контексте - подставляя текущие значения переменных).

In [ ]:
s=input('Введите операцию с переменной "s" - ')
print('s = ', s, type(s))
print(s + ' = ', eval(s))

Введите операцию с переменной "s" - 3+4
s =  3+4 <class 'str'>
3+4 =  7

А функция exec интерпретирует строку как оператор и динамически выполняет его. Оператор может менять значения переменных в текущем пространстве имён и принимает большие блоки кода, в отличие от eval().

In [3]:
x = 'name = "Gordon Freeman"\nprint(name)'
exec(x)


y = 'print("5 + 10 =", (5+10))'
exec(y)

Gordon Freeman
5 + 10 = 15

Возможно так же исполнение сложных инструкций

In [2]:
prog = 'for x in range(9):\n    res = x*x\n    print(res)'
exec(prog)

0
1
4
9
16
25
36
49
64

## Задания:

**Задание 1**

Написать скрипт который спросит имя пользователя, потом поздоровается с ним. Например:

Как вас зовут?

*Hoodwink* 

Здравствуйте, *Hoodwink* !

In [ ]:
# ваш код здесь

Как вас зовут?
Hoodwink
Здравствуйте, Hoodwink !

**Задание 2**

Написать скрипт который спросит необходимое количество зелий и цену на них, потом сообщит сколько нужно заплатить. Например:

Сколько зелий? 2

Цена одного? 700

Заплатите 1400.0 монет.

In [ ]:
# ваш код здесь

Сколько зелий? 2
Цена одного? 700
Заплатите 1400.0 монет.

# 1.4 Ветвление (или условная инструкция)

In [ ]:
a = input('Введите число побед игрока a: ') 
b = input('Введите число побед игрока b: ') 

if a < b: 
    print ('Игрок b более результативен') 
elif a == b: 
    print ('Результаты игроков a и b равны')
else: 
    print ('Игрок a более результативен')

Введите число побед игрока a: 4
Введите число побед игрока b: 5
Игрок b более результативен

In [ ]:
a = input('Введите целое число a: ') 
b = input('Введите целое число b: ') 

print ('a - наименьшее из двух чисел') if a<b else (print ('b - наименьшее из двух чисел') if a>b else print ('a и b равны'))

Введите целое число a: 3
Введите целое число b: 6
a - наименьшее из двух чисел

**Пример программы. "Метание предмета"**


В играх очень часто необходимо создать реалистичное взаимодействие объектов согласно првычным нам физическим законам и для этого необходимо создать компьютерную модель основанную на математической.

Рассмотрим пример иллюстрирующий математическую модель описывающий траекторию полета предмета в воздухе. Из второго закона Ньютона, предполагая отсутствие сопротивления воздуха, мы можем вывести зависимость вертикального положения снаряда от времени полёта:
$$y(t) = U_0t - gt^2/2$$
 
где $U_0$  — начальная скорость, $g$ — ускорение свободного падения, значение которого положим равным 9.80665 $м/с^2$.

Добавив в расчёт рост бросающего персонажа и высоту мишени получим  модель метания предмета в игре.

In [ ]:
# Программа для вычисления положения предмета при вертикальном движении

v0 = 2       # Начальная скорость
g = 9.80665  # Ускорение свободного падения
t = 0.4      # Время
r = 1.8      # Рост персонажа
mishen = 1.8 # Высота мишени

y = v0*t - 1/2*g*t**2 + r

print ('Высота попадания', y,'\n', 'Погрешность', round(abs(mishen-y), 3)) 
# abs - означает взятие модуля выражения
# round(х, 3) - округление до 3-х знаков после запятой

Высота попадания 1.815468
 Погрешность 0.015

## Задание:

Допишите программу метание предмета создав интерактивный ввод начальной скорости предмета и добавив условие, что допустимое значение скоростии от 1 до 3 м/с

Пример ввода недопустимого значения:

*Начальная скорость = 5*

*Допустимое значение скоростии от 1 до 3 м/с*

In [ ]:
# ваш код здесь

Начальная скорость = 5
Допустимое значение скоростии от 1 до 3 м/с

# 1.5  Циклы

**Списки**

До этого момента все наши переменные могли содержать только одно число, будь оно хоть целым (int), хоть с плавающей точкой (float). Но иногда числа естественным образом группируются. Например, последовательность моментов времени представляют собой группу. Для групп в Python есть несколько специальных типов объектов, рассмотрим тип — list (список), который позволяет организовывать эти группы в последовательности. При этом, с помощью списков мы можем работать как с группой целиком, так и с членами этой группы по отдельности. При этом список может состоять из объектов разного типа, в том числе и из самих списков.

Циклом может называться любая многократно исполняемая последовательность инструкций, организованная любым способом. В Python есть два типа циклов:

Цикл **for** - этот вид цикла используют, когда количество итераций зависит от того, сколько в условии задано элементов. Внутри цикла for нельзя изменять итерируемый объект — это может привести к ошибкам. Его можно использовать для вывода или параметров в промежуточных вычислениях, но новые значения лучше не присваивать. Если нужно изменить переменную, возможно, понадобится другой цикл — while.

Цикл **while** - этот оператор будет выполнять тело цикла до тех пор, пока выражение в его условии остаётся истинным. Чтобы условие действительно имело шанс стать ложным, в теле цикла нужно изменить переменную, которая может использоваться как счётчик итераций. Сначала мы реализуем цикл for и смоделируем полёт сн6аряда в зависимости от времени полёта.

In [ ]:
# Программа для моделирования вертикального положения метаемого снаряда 

v0 = 5       # Начальная скорость
g = 9.80665  # Ускорение свободного падения
r = 1.8      # Рост персонажа
mishen = 1.8 # Высота мишени

tmax = 2*v0/g

t = [0, 1/4*tmax, 1/2*tmax, 3/4*tmax, tmax]     
# список моментов времени

n = len(t)  
#  функция len() определяет "длинну" списка

print("число моментов времени ", n)

for i in t:
  visota = round(v0*i - 1/2*g*i**2 + r, 3)
  print(f"высота в {round(i, 2)} сек. = {visota} м.")

число моментов времени  5
высота в 0 сек. = 1.8 м.
высота в 0.25 сек. = 2.756 м.
высота в 0.51 сек. = 3.075 м.
высота в 0.76 сек. = 2.756 м.
высота в 1.02 сек. = 1.8 м.

Затем с помощью цикла while подберём скорость необходимую для поражения мишени по вертикальной составляющей с заданной точностью. В нашем случае отклонение должно быть меньше 0.1 мм.

In [ ]:
# Программа для моделирования броска снаряда 

v0 = 0       # Начальная скорость
g = 9.80665  # Ускорение свободного падения
t = 0.4      # Время
r = 1.8      # Рост 
mishen = 1.8 # Высота мишени
pogr = 1

while pogr > 0.0001:
  v0 += 0.0001
  y = v0*t - 1/2*g*t**2 + r
  pogr = round(abs(mishen-y), 4)
print('Скорость =', v0)
  
print('Высота попадания ', y,'\n', 'Погрешность', pogr)

Скорость = 1.9609999999998005
Высота попадания  1.79986799999992
 Погрешность 0.0001

Добавив возможности других библиотек для использования тригонометрических функций можем получить более сложные модели

In [ ]:
# Модель прыжка для расчёта его основных параметров в заданных условиях
import math
import numpy as np
 
 
v0=5.0
a=40
g = 9.80665
tmax = 2*v0/g
 
t = np.linspace(0, tmax, 1000)
y = v0*t - 0.5*g*t**2
x = v0*t
y1 = v0*math.sin(math.radians(a))*t - 0.5*g*t**2
x1 = v0*math.cos(math.radians(a))*t
max_height = y[0]
for i in range(1, 1000):
    if y[i] > max_height:
        max_height = y[i]
max_distanse = x[0]
for i in range(1, 1000):
    if x[i] > max_distanse:
        max_distanse = x[i]
 
smax =(v0**2*math.sin(math.radians(2*a)))/g
hmax=((v0*math.sin(math.radians(a)))**2)/(2*g)
angle=math.degrees(math.asin(((max_distanse/2)*g)/(v0**2)))/2
anglemax=math.ceil(math.degrees(math.asin((math.sqrt(max_height*2*g))/5)))

for a2 in range(90):
    for v2 in range(100):
        y2 = v2*math.sin(math.radians(a2)) - 0.5*g
        x2 = v2*math.cos(math.radians(a2))
        if y2 == 3 and x2 == 2:
            break
 
print(f'1)Дальность прыжка = {round(smax, 5)} (м), Высота прыжка = {round(hmax, 5)} (м)')
print(f'2)Начальный угол для максимальной дальности прыжка = {angle}°')
print(f'3)Начальный угол для максимальной высоты прыжка = {anglemax}°')
print(f'4)Для попадания в точку с координатами (2,3) м через 1 с угол = {a2}° и скорость = {v2} м/с')

1)Дальность прыжка = 2.51056 (м), Высота прыжка = 0.52665 (м)
2)Начальный угол для максимальной дальности прыжка = 45.0°
3)Начальный угол для максимальной высоты прыжка = 90°
4)Для попадания в точку с координатами (2,3) м через 1 с угол = 89° и скорость = 99 м/с

Для удобства работы со списками используют срезы - это получение части списка согласно индексам в квадратных скобках

In [51]:
# Программа для моделирования вертикального положения метаемого снаряда 

v0 = 5       # Начальная скорость
g = 9.80665  # Ускорение свободного падения
r = 1.8      # Рост персонажа
mishen = 1.8 # Высота мишени

tmax = 2*v0/g

t = [0, 1/4*tmax, 1/2*tmax, 3/4*tmax, tmax]     
# список моментов времени

n = len(t)  

spisok = [] # создание пустого списка

for i in t:
  visota = round(v0*i - 1/2*g*i**2 + r, 3)
  spisok.append((round(i,2), visota)) # добавление элемента в список
  
for vrem, vis in spisok:
   print(f"высота в {vrem} сек. = {vis} м.")
print("последний элемент списка", spisok[-1])
print("элемент списка начиная с третьего до предпоследнего", spisok[2:-1])
print("последний элемент кортежа первого элемента списка", spisok[0][-1])

высота в 0 сек. = 1.8 м.
высота в 0.25 сек. = 2.756 м.
высота в 0.51 сек. = 3.075 м.
высота в 0.76 сек. = 2.756 м.
высота в 1.02 сек. = 1.8 м.
последний элемент списка (1.02, 1.8)
элемент списка начиная с третьего до предпоследнего [(0.51, 3.075), (0.76, 2.756)]
последний элемент кортежа первого элемента списка 1.8

## Задание:

Доработать программу моделирования вертикального положения метаемого снаряда разделив время полёта на 6 частей вместо 4-х и показать вывод изменения высоты (разности между текущей высотой и высотой в предшествующий момент времени). Пример вывода:

высота в 0 сек. разность  0.0 м.

высота в 0.13 сек. разность  0.56 м.

высота в 0.25 сек. разность  0.4 м.

высота в 0.51 сек. разность  0.32 м.

высота в 0.76 сек. разность  -0.32 м.

высота в 0.89 сек. разность  -0.4 м.

высота в 1.02 сек. разность  -0.56 м.

In [56]:
# ваш код здесь

высота в 0 сек. разность  0.0 м.
высота в 0.13 сек. разность  0.56 м.
высота в 0.25 сек. разность  0.4 м.
высота в 0.51 сек. разность  0.32 м.
высота в 0.76 сек. разность  -0.32 м.
высота в 0.89 сек. разность  -0.4 м.
высота в 1.02 сек. разность  -0.56 м.

# 1.6 Функции

**Решение задачи на числа Фибоначчи роекурсией и циклом**. 

Числа Фибоначчи  с успехом были использованы для компьютерных игр. Так компания Acornsoft в 1984 году выпустила игру [Elite](https://habr.com/ru/post/714118/) где 282 000 000 000 000 (двести восемьдесят два миллиона миллионов) галактик создавались с помощью последовательности Фибоначчи.

Эта последовательность может быть получена разными способами. Мы сделаем это с помощью рекурсии, с помощью циклов for и while, а затем упакуем наш скрипт в созданную функцию для удобного дальнейшего использования.

In [ ]:
def fibonacci(n):
    if n in (1, 2):
        return 1
    return fibonacci(n - 1) + fibonacci(n - 2)
 
 
print(fibonacci(10))

55

In [ ]:
fib1 = fib2 = 1
 
n = int(input())
 
print(fib1, fib2, end=' ')
 
for i in range(2, n):
    fib1, fib2 = fib2, fib1 + fib2
    print(fib2, end=' ')

10
1 1 2 3 5 8 13 21 34 55

In [ ]:
fib1 = fib2 = 1
 
n = input("Номер элемента ряда Фибоначчи: ")
n = int(n) - 2
 
while n > 0:
    fib1, fib2 = fib2, fib1 + fib2
    n -= 1
 
    print("Значение этого элемента:", fib2)

Номер элемента ряда Фибоначчи: 10
Значение этого элемента: 2
Значение этого элемента: 3
Значение этого элемента: 5
Значение этого элемента: 8
Значение этого элемента: 13
Значение этого элемента: 21
Значение этого элемента: 34
Значение этого элемента: 55

In [ ]:
a = int(input('Номер элемента ряда Фибоначчи = '))

def fib(n):
    a, b = 1, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

print(list(fib(a)))

Номер элемента ряда Фибоначчи = 10
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

## Задание:

В гейм дизайне используются [кривые сложности](https://gdcuffs.com/difficulty-curve/) для создания более интересной игры и часто для получения интересной игроку последовательности используют числа Фибоначчи. Наше задание состоит в том чтобы написать функцию с циклом , которая возвращает количество убитых монстров первого уровня необходимое игроку для получения заданного уровня. Так как первые два числа равны 1, то при выводе необходимо будет добавить к числу Фибоначчи 1. И получим последовательность 1, 2, 3, 4, 6, 9, 13, 21, 34, 55. Для этого введём переменную которую будем использовать как поправку прибавляя к результату и при уровне героя больше 1 и меньше 7 она будет равняться 1, а в других случаях - 0.

Пример вывода:

Уровень игрока: 2

Убитых монстров 1-го уровня: 2

![image.png]()

In [ ]:
# ваш код здесь

Уровень игрока: 2
Убитых монстров 1-го уровня: 2